
.table-view {
    -fx-background-color: #FFF;
    -fx-table-cell-border-color: #38386E;
    -fx-table-header-border-color: #38386E;
    -fx-table-cell-border-color: transparent;
}

.table-cell {
  -fx-alignment: CENTER;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: #38386E;
    -fx-size: 40;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Segoe UI Bold";
}

.table-row-cell:empty {
-fx-background-color: white;
-fx-border-color: white;
}